#content-two {
    width: 34%;
    height: 38vh;
}

#card-head2 img {
    border: 2px solid gray;
}

#content-three {
    width: 20%;
    height: 55vh;
    background: transparent;
}

#container {
    width: 100%;
    height: 35vh;
    background: rgb(46, 123, 247);
}

#card-footer i {
    font-size: 1.3rem;
    background: white;
    box-shadow: 2px 2px 3px 2px rgb(223, 223, 223);
}

#content-four {
    max-width: 25%;
}

#card-vartical {
    min-width: 28%;
    height: 60vh;
    background: #101928;
    border: 4px solid #60A4F5;
}

#card-head img {
    width: 25%;
    height: 25%;
    border: 2px solid #60A4F5;
}

#card-vartical #card-head hr {
    width: 100%;
    border: 2px solid #60A4F5;
}

#card-vartical #card-body hr {
    width: 90%;
    border: 2px solid #60A4F5;
    margin: 1rem auto;
}

#icons i {
    color: #60A4F5;
    font-size: 1.3rem;
    margin: 0 auto;
}

#content-five {
    max-width: 40%;
}

#content-five #card-horizontal {
    min-width: 70%;
    height: 30vh;
}

#content-five #card-horizontal img {
    width: 100%;
    height: 30vh;
}

#content-five #card-horizontal #card-header {
    width: 100%;
}

#content-five #card-horizontal #card-header #card-body {
    height: 18.2vh;
}

#vertical {
    width: 34vw;
    height: 65vh;
}

#content-card-vartical {
    max-width: 62%;
    // height: 30vh;
}

#circle-one {
    background: #0071F8;
    width: 16%;
    height: 16%;
    border-radius: 50%;
    margin: 3em auto;
    margin-left: 4em;
}

#triangle {
    width: 0; 
    height: 0; 
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #F21C6E;
    margin: 3em auto;
    margin-right: 4em;
}