#content-two {
    width: 34%;
    height: 38vh;
}

#card-head2 img {
    border: 2px solid gray;
}

#content-three {
    width: 20%;
    height: 55vh;
    background: transparent;
}

#container {
    width: 100%;
    height: 35vh;
    background: rgb(46, 123, 247);
}