#content-two {
    width: 34%;
    height: 38vh;
}

#card-head2 img {
    border: 2px solid gray;
}

#content-three {
    width: 25%;
    height: 60vh;
    background: transparent;
    // border: 1px solid gray;
}